{% extends 'layout.njk' %}

{% block content %}
    <div class="lottie-message">
        <div class="lottie"></div>
        <div class='showMessage success'>Success!!<div>
    </div>

<script src="/lottie.min.js"></script>

<script>
const element = document.querySelector('.lottie')    

lottie.loadAnimation({
  container: element, // the dom element that will contain the animation
  renderer: 'svg',
  loop: false,
  autoplay: true,
  path: '/1114-saving-quotes.json' // the path to the animation json
});

</script>

{% endblock content %}