<!DOCTYPE html>
<html> 

<head>         
    
    {% block head %}

        <title>Individual Classes</title> 
    
    {% endblock %}
    
    <link rel="stylesheet" href="styles/messages.css"> 
    <link rel="stylesheet" href="/styles.css"> 
    <link rel="stylesheet" href="/lottie.css">
     
     
</head>    
    <body>        
        <header>
            <div class="links">
                <a href="/teachers">Teachers</a>    
                <a href="/students">Students</a>
            </div>
    </header>
    {% include 'parts/messages.njk'%}

    {% block content %}{% endblock %}

    <script src="/scripts.js"></script>
       
</body>

</html>


